<%= form_tag(item_reviews_path, method: "post") do%>


      <%= hidden_field_tag :hire_id %>
      <%= hidden_field_tag :hire_id, "#{@hire.id}" %>
    <br>

<%= render 'radio_controls' %>

    <br>
<div class="form-group">
      <%= label_tag (:content)%>
    <br>
      <%= text_area_tag :content, content = nil, class: "form-control", rows:"3" %>
</div>

    <br>
      <%= submit_tag ("Post Review"), class: "form_button" %>
<% end %>
