<% if @hire.hired == true %>
<h1>Success message</h1>

<h4><%= @hire.user.name %> has hired <%= @hire.item.name %></h4>

<% else %>

<h1>Success message</h1>

<h4><%= @hire.user.name %> has returned <%= @hire.item.name %></h4>
<br>
<h5>Would you like to write a review?</h5>
<%= render 'review_form' %>
<% end %>

<%= link_to "All Items", items_path %>
