<!DOCTYPE html>
<html>
  <head>
    <title>Hirely</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-light" style="background-color: #acc9c7;">

  <% if current_user.present? %>

    <%= link_to "Hirely", menu_path, class:"navbar-brand" %>
  <% else %>
    <%= link_to "Hirely", root_path, class:"navbar-brand" %>
  <% end  %>

          <ul class="nav justify-content-end">

      <% if current_user.present? %>

        <li class="nav-item">
          <%= link_to "Add Item", new_item_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Items", items_path, class:"nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="user_path" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"></a>
                <%= link_to "#{current_user.first_name.capitalize}", user_path(current_user.id), class:"dropdown-item" %>
              <%= link_to "Log out", logout_path, method: :delete, class:"dropdown-item" %>
          </div>
        </li>

        <%else  %>


        <% end %>
      </ul>

        </nav>



        <div class="container">
          
          <%= render 'flash_messages' %>
          <%= yield %>
        </div>


  </body>
</html>
