<h1>Analytics</h1>
<br>

<h5>Total users in system: <%= @users.length %></h5>
<h5>Total items in system: <%= @items.length %></h5>
<h5>Total reviews in system: <%= @item_reviews.length %></h5>
<h5>Number of times items have been hired: <%= @hires.length %></h5>

<%= Google::Maps.distance("NW10 5TN", "E14 7FP") %>
