<div class="container">
  <div class="row">
    <div class="col-12">

<div class="box">

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div style="height:auto" class = "img">
              <%= image_tag(@user.profile_pic, style:'width:100%; border-radius:10px') %>
        </div>
      </div>



      <div class="col-6">
        <div class = "name-pad">
          <h1><%= @user.name.capitalize %></h1>
        </div>

        <div class="col-3">
          <%= button_to 'Log out', logout_path, method: :delete, class: "btn-lg btn-info"%>
        </div>
        <br>
        <div class="col-3">
          <%= button_to 'Edit Profile', edit_user_path(@user), method: :get, class: "btn-lg btn-info"%>
        </div>

      </div>
    </div>
  </div>
<br>

<div class="container">
  <div class="row">
    <div class="col-12">
<h2>All My Items</h2>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
<% @user.item.each do |item|%>


      <div class="col-12">

        <div class="card-deck">
          <div class="card">
            <div class="card-body">

              <div class="row">
                  <div class="col-6">
                    <div style="height:auto" class='img'>
                          <%= image_tag(item.image, style:'width:100%; border-radius:10px') %>
                    </div>
                  </div>


                <div class="col-6">
                  <dl class="row">
                    <dt class="col-sm-12"><h3><%= item.name %></h3></dt>
                    <dt class="col-sm-4">Price</dt>
                    <dd class="col-sm-8">£<%= item.price %> per/day</dd>
                    <dt class="col-sm-4">Item Owner</dt>
                    <dd class="col-sm-8"><%=link_to item.user.name, user_path(item.user.id) %></dd>
                    <dt class="col-sm-4">Catagory</dt>
                    <dd class="col-sm-8"><%= item.catagory %></dd>
                  </dl>
                  <%= button_to 'View', item_path(item), method: :get, class: "btn btn-success btn-lg"%>
                  <br>
                  <%= button_to 'Edit', edit_item_path(item), method: :get, class: "btn btn-success btn-lg"%>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
            <% end %>

    </div>
  </div>

  <br>

<h2>Hired history:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Status</th>
        <th scope="col">Return?</th>
      </tr>
    </thead>
    <% @user.hired.reverse_each do |hire|%>
    <tbody class= "table-row">
      <tr>

        <td><h5><%= link_to hire.item.name, item_path(hire.item.id) %></h5></td>

        <td><% if hire.hired == true && hire.user_id == @user.id%>
          <h5>Item Status: You are currently hiring this item.</h5>
          <% elsif hire.hired == true && hire.user_id != @user.id%>
          <h5>Item Status: Currently Unavailable</h5>
          <% elsif hire.hired == false %>
          <h5>Item Status: Available</h5>
          <% else %>
          <h5>error somewhere</h5>
        <% end %></td>

        <td><% if hire.hired == true && hire.user_id == @user.id%>
          <%= button_to 'Return', {:controller => "hires", :action => "update", :item_id => hire.item_id, :user_id=> current_user.id, :hired => 0, :id => hire.id} , :method=>:patch, class: "btn btn-success btn-lg"%>
        <% else %>
          <h5>item returned <%= time_ago_in_words(hire.created_at) %> ago</h5>
          <% end %>
        </td>




      </tr>
    </tbody>
    <% end %>
  </table>



</div>
</div>
</div>
</div>
