<h1><%= @user.name %></h1>

<h2>All My Items</h2>

<% @user.item.each do |item|%>

<div class="card-deck">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
    <%= link_to 'View', item_path(item), class:"btn btn-primary" %>
    </div>
  </div>
  </div>

<% end %>

<h4>Hired history</h4>


<%= link_to 'edit me', edit_user_path(@user) %>





<%= link_to "All Users", users_path %>

<%= link_to "Add New Item", new_item_path %>
<br>
<%= link_to "All Items", items_path %>
<br>
<%= link_to "Log out", logout_path, method: :delete %>
