
<%= button_to 'Log out', logout_path, method: :delete, class: "btn-sm btn-info"%>
<br>
 <%= button_to 'Edit Profile', edit_user_path(@user), method: :get, class: "btn-sm btn-info"%>


<h1><%= @user.name.capitalize %></h1>

<br>
<h2>All My Items</h2>

<% @user.item.each do |item|%>

<div class="card-deck">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
    <%= link_to 'View', item_path(item), class:"btn btn-primary" %>
    </div>
  </div>
  </div>

<% end %>

<br>

<h4>Hired history</h4>

  
