



<%= form_for @item do |f| %>

<div class="form-group">


  <%= f.label :name%>
  <%= f.text_field :name, class:"form-control" , placeholder:"Enter Item name"%>

</div>

<div class="form-group">
  <%= f.label :description%>
  <%= f.text_field :description, class:"form-control" , placeholder:"Item description" %>
</div>

<!-- need to make this a data select type -->
<div class="form-group">
  <%= f.label :catagory%>
  <%= f.text_field :catagory, list: 'catagory-name', class:"form-control" , placeholder:"Item category type" %>

   <datalist id="catagory-name">
       <% Item.all.each do |item| %>
           <option value="<%= item.catagory %>">
       <% end %>
   </datalist>
</div>



<div class="form-group">
  <%= f.label :price%>
  <%= f.number_field :price, class:"form-control" , placeholder:"Price of item per day" %>
</div>


<!-- add and image  -->
<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>



  <%= f.submit%>

<% end %>
