<div class="container main-content item-index">

<h1>All Items</h1>


<div class="filter_wrapper">


<%= form_tag items_path, method: :get do %>
<%= text_field_tag :search_name, params[:search_name], placeholder:"search by name" %>
<%= submit_tag "Search" %>
<%= text_field_tag :search_category, params[:search_category], placeholder:"search by category" %>
<%= submit_tag "Search" %>
<% end %>


<!-- Search by category or by location --->



</div>


<br>

  <div class="card-columns">


  <% @items.each do |item| %>



      <div class="card text-center">
        <div style="width:300px; height:auto">
              <%= image_tag(item.image, style:'width:100%') %>
        </div>
              <div class="card-body">
              <h5 class="card-text"><%= item.name %></h5>

              </div>
              <% unless item.user_id == current_user.id %>
              distance: <%= Google::Maps.distance("#{item.user.location}", "#{current_user.location}") %>
              <% end %>

              <div class="card-footer text-muted">
                  <%= link_to 'View', item, class:"btn btn-primary"%>
              </div>
          </div>




  <% end %>

    </div>
</div>
