<div class="container main-content item-index">


<h1 class="title">All Items</h1>

<br>

<div class="filter_wrapper">



<%= form_tag items_path, method: :get do %>
<%= text_field_tag :search_name, params[:search_name], placeholder:"search by name", class:"search"%>
<%= submit_tag "Search" %>

<%= text_field_tag :search_category, params[:search_category], placeholder:"search by category", class:"search" %>
<%= submit_tag "Search" %>
<% end %>


<!-- Search by category or by location --->



</div>


<br>

<div class="item-cards">



  <% @items.each do |item| %>




  <section class="card-container">
      <article class="card">
          <figure class="card__thumbnail">
          <%= image_tag(item.image) %>
            </figure>
          <header class="card__title">
              <h3><%= item.name %></h3>
          </header>

          <main class="card__description">
            <% unless item.user_id == current_user.id %>
            distance: <%= Google::Maps.distance("#{item.user.location}", "#{current_user.location}") %>
            <% end %>
          </main>
        <%= button_to 'View Item', item, method: :get, class:"view_button"%>
      </article>
  </section>





  <% end %>



</div>
</div>
