


  <% unless @item.user_id == current_user.id  %>

      <%= button_to 'Hire', {:controller => "hires", :action => "create", :item_id => @item.id, :user_id=> current_user.id, :hired => 1} , :method=>:post  %>

  <% end  %>


  <%  if @item.user.id  == current_user.id %>

    <%= button_to 'Edit', edit_item_path(@item), method: :get, class: "btn-sm btn-info"%>

  <% end %>

  <div style="width:300px; height:auto">
        <%= image_tag(@item.image, style:'width:100%') %>
  </div>



  <h1><%= @item.name %></h1>

  <% @item.hires.each do |hire| %>
      <% if hire.hired == true %>

          <h4> Item is unavailable</h4>
      <% end %>
  <% end %>




  <h4>Price: £<%= @item.price %> per/day</h4>

  <h4>Item owner: <%=link_to @item.user.name, user_path(@item.user.id) %></h4>

  <h5>Category:<%= @item.catagory %></h5>

  <h5>Location:<%= @item.user.location %></h5>

  <h6><%= @item.description %></h6>
